* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'inter', sans-serif;
  margin-right: 10vh;
  margin-left: vh;
  background-color: hsl(36, 100%, 99%);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

nav {
  display: flex;
  align-items: center;
  justify-items: center;
  padding-top: 5vh;
  padding-left: 60vh;
  opacity: 0.5;

}

.nav-logo {
  position: absolute;
  padding-left: 33vh;
  padding-right: 154vh;
  padding-bottom: 86vh;
}

a {
  text-decoration: none;
  color: hsl(36, 100%, 99%);

}

p {
  color: #cecfe1;
  font-size: 14.5px;
  border-bottom: 1px grey solid;
  max-width: 38vh;
  margin-right: 1rem;
  line-height: 25px;
  padding-bottom: 2.5rem;

}

.p-1 {
  border-bottom: 1px hsl(240, 100%, 5%) solid;
}

.p-2 {
  padding-left: 1.5rem;
  padding-top: 1rem;
  margin-right: 5vh;
  line-height: 1.7rem;
  opacity: 0.5;
  max-width: 30vh;

}


.a-nav {
  padding-left: 6vh;
  color: black;
}

h1 {
  font-size: 40px;
  color: hsl(35, 77%, 62%);
}

h2 {
  color: #c8c7cf;
  font-size: 33px;
  padding-left: 1.5rem;
}

h3 {
  padding-top: 1rem;
}

h4 {
  font-weight: 800;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
}




.container {
  display: grid;
  justify-items: center;
  grid-template-areas:
    'box-1 box-1 box-4 box-4'
    'box-2 box-3 box-4 box-4'
  ;

}


.box-1 {
  margin-left: 32vh;
  padding-top: 5vh;
  grid-area: box-1;

}

.box-2 {
  grid-area: box-2;
  font-size: 50px;
  font-weight: 800;
  padding-top: 1.5rem;
  max-width: 50vh;
  line-height: 3.5rem;
  margin-left: 33vh;
  max-width: 35vh;
}

.box-3 {
  grid-area: box-3;
  padding-top: 2rem;
  margin-right: 5vh;
  line-height: 22px;
  width: 40vh;
}

.box-3-opacity {
  opacity: 0.5;
}

.box-4 {
  grid-area: box-4;
  margin-top: 5vh;
  margin-right: 37vh;
  margin-left: 4vh;
  padding-top: 3vh;
  padding-left: 1.5rem;
  padding-right: 1rem;
  background-color: hsl(240, 100%, 5%);
  color: white;
  line-height: 2.5rem;
  max-height: 55vh;
  min-height: 50vh;
  max-width: 40vh;
  min-width: 35vh;
}

footer {
  display: flex;
  margin-top: 60vh;
  position: absolute;
  padding-top: 5vh;
  padding-left: 28vh;
  margin-right: 25vh;
  max-width: 160vh;
}


.btn {
  margin-top: 1.5rem;
  padding-top: 1.5vh;
  background: hsl(5, 85%, 63%);
  width: 11rem;
  height: 3rem;
  text-align: center;
  letter-spacing: 3px;
  color: hsl(36, 100%, 99%);


}

a:hover {
  cursor: pointer;
  color: hsl(5, 85%, 63%);
  ;
}

.btn:hover {
  cursor: pointer;
  background-color: hsl(240, 100%, 5%);
  ;
}
